    <section class="card p-3 post comment-card">
        <p>{{{content}}}</p>
        <br>
        <p class = "flex-row align-end signature">Commented by {{user.username}} on {{format_date date}} at {{format_time date}}</p>
    </section>