<head>
  <meta charset="UTF-8">
  <title>Potluck Party</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column  justify-space-around">
    <header class="display-flex justify-center p-2">
      <h1>
        &#127881 Indomie Party! &#127881
      </h1>
    </header>
      <div class="flex-row justify-space-around"> 
          <a href="#"><h2>Home</h2></a>
          <a href="#"><h2>Dashboard</h2></a>
          <a href="#" class=""><h2>Login</h2></a>
          <a href="#" class="display-none"><h2>Logout</h2></a>
      </div>
      <main class="container container-fluid mt-5">
        {{{ body }}}
      </main>
  </div>
  </body>

</html>