{{!-- Displays a title and content section for the usr to create or edit a blog post --}}
{{!-- TODO: Add buttons to update/delete --}}
{{!-- Build the html. --}}
{{!-- TODO: Add script to delete --}}
<div class="row">
    <div class"create-page-title"><h2><strong>Create a new blog post</strong></h2></div>
    <form class"form create-post">
        <div class='form-group'>
            <label for="edit-post-title">Title:</label>
            <textarea class="form-input" type="text" id="edit-post-title">{{title}}</textarea>
        </div>
        <div class='form-group'>
            <label for="edit-post-content">Content:</label>
            <textarea class="form-input" type="text" id="edit-post-content">{{content}}</textarea>
        </div>
    </form>
</div>
<div class="row justify-center">
    <button type="submit" class="w3-button w3-large w3-circle w3-xlarge w3-ripple" id="editPostBtn">Edit post!</button>
    <button type="submit" class="w3-button w3-large w3-circle w3-xlarge w3-ripple" id="delPostBtn">Delete Post!</button>
</div>
<script src='/js/editPost.js'></script>
<script src='/js/deletePost.js'></script>