{{!-- Displays a title and content section for the usr to create--}}
{{!-- Add post new button --}}
{{!-- Build the html --}}
<div class="row">
    <div class"create-page-title"><h2><strong>Create a new blog post</strong></h2></div>
    <form class"form create-post">
        <div class='form-group'>
            <label for="create-post-title">Title:</label>
            <input class="form-input" type="text" id="new-post-title">
        </div>
        <div class='form-group'>
            <label for="create-post-content">Content:</label>
            <input class="form-input" type="text" id="new-post-content">
        </div>
    </form>
</div>
<div class="row justify-center">
    <a href="/" class="w3-button w3-large w3-circle w3-xlarge w3-ripple addPostBtn">Create post!</a>
</div>
<script src='/js/createPost.js'></script>